extends layout

block content
  div(class='container')
    div(class='top-spacer')
    if data
      div(class='restaurant-card')
        h3=data.venue.name
        div(class='restaurant-info')
          div(class='categories')
            ul
              each category in data.venue.categories
                li= category.name
          div(class='rating')
            if data.venue.rating
              span(class='rating')= `${data.venue.rating}/10`
          div(class='address')
            div= data.venue.location.address
            div= data.venue.location.city + ', ' + data.venue.location.state + ' ' + data.venue.location.postalCode
            a(href=mapUrl target='_blank')  (map)
          div(class='fsq-link')
            a(href=fsqUrl target='_blank') View on Foursquare
          div
            a(href=data.venue.url target='_blank')= data.venue.url
      div(class='powered-by-fsq')
        | Powered by <a href='http://foursquare.com'>Foursquare</a>
      div(class='row')
        a(class='button' href=requestUrl) Next Recommendation
    else
      div(class='no-results')
        p Sorry, no results found ¯\_(ツ)_/¯
        p Try increasing distance or changing search query.
    div(class='row')
      a(class='button' href='/') Start over
    footer
      div © 2016 Brian Buchholz
      div A lightweight web app for the <a href='https://a-k-apart.com/' target='_blank'>10k Apart Contest</a>.
