extends layout

block content
  div(class='container')
    div(class='spacer')

    form(action='/eat' method='get' id='form')
      div(class='row')
        label(for='location')= 'Where are you?'
        input(
          type='text'
          name='location'
          id='location'
          autofocus=true
          placeholder='address, city, state or zip'
          value=(savedParams && savedParams.location) ? savedParams.location : null
          required=true
        )

      div(class='row')
        label(for='search')= 'What do you want? (optional)'
        input(
          type='text'
          name='search'
          id='search'
          placeholder='burgers, Thai, vegetarian, etc...'
          value=(savedParams && savedParams.search) ? savedParams.search : null
        )

      div(class='row')
        label(for='open-now')
          input(
            type='checkbox'
            name='open'
            id='open-now'
            value='true'
            checked=(savedParams && savedParams.open)
          )
          |  Only show results <b>open now</b>

      div(class='row')
        label(for='save')
          input(
            type='checkbox'
            name='save'
            id='save'
            value='true'
            checked=(savedParams ? true : false)
          )
          |  Save search params (uses cookies)

      div(class='row')
        input(class='primary' type='submit' value='Find a place to eat')
        a(class='button' href='/?clear=true' id='clear') Clear

    footer
      div © 2016 Brian Buchholz
      div A lightweight web app for the <a href='https://a-k-apart.com/' target='_blank'>10k Apart Contest</a>
